[submodule "template/node"]
	path = template/node
	url = https://github.com/web-app-template/template-node.git
	branch = master
[submodule "template/node-koa-restful"]
	path = template/node-koa-restful
	url = https://github.com/web-app-template/template-node-koa-restful.git
	branch = main
[submodule "template/node-express-restful"]
	path = template/node-express-restful
	url = https://github.com/web-app-template/template-node-express-restful.git
	branch = master
[submodule "template/node-koa-restful-mongodb"]
	path = template/node-koa-restful-mongodb
	url = https://github.com/web-app-template/template-node-koa-restful-mongodb.git
	branch = master
[submodule "template/hexo-blog"]
	path = template/hexo-blog
	url = https://github.com/web-app-template/template-hexo-blog.git
	branch = main
[submodule "template/vitepress-vue-component"]
	path = template/vitepress-vue-component
	url = https://github.com/web-app-template/template-vitepress-vue-component.git
	branch = main
[submodule "template/vue3"]
	path = template/vue3
	url = https://github.com/web-app-template/template-vue3.git
