[submodule "templates/node-koa-restful"]
	path = templates/node-koa-restful
	url = https://github.com/web-app-template/template-node-koa-restful.git
[submodule "templates/node"]
	path = templates/node
	url = https://github.com/web-app-template/template-node.git
[submodule "templates/node-express-restful"]
	path = templates/node-express-restful
	url = https://github.com/web-app-template/template-node-express-restful.git
[submodule "templates/node-koa-restful-mongodb"]
	path = templates/node-koa-restful-mongodb
	url = https://github.com/web-app-template/template-node-koa-restful-mongodb.git
[submodule "templates/vue3"]
	path = templates/vue3
	url = https://github.com/web-app-template/template-vue3.git
